.Container {
    display: inline-block;
    position: relative;
    margin: 0;
}

.Container img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Container figcaption {
    position: absolute;
    bottom: 70px;
    left: 20px;
    font-size: 30px;
    color: #fff;
    margin: 0px;
}

.Container p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    color: #fff;
    margin: 0px;
}

@media (max-width: 768px){
    .Container img{
        width: 100vw;
    }
}