.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #9198e5;
  background: linear-gradient(#D8B7D8,#2F2D40 );
}

.Content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 640px;
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 768px){
  .Content{
    height: 100vh;
    width: 100vw;
  }
}